* {
    font-family: 'Nunito Sans', sans-serif;
}

#h4 {
    margin-bottom: 50px;
}

.encabezado {
    color: #333333;
}

.centrado {
    text-align: center;
}

p {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

#p_uno {
    background-color: #10304C;
    color: #F3F3F3;
}

#p_dos {
    padding: 10px;
    background-color: #10304C;
    color: #F3F3F3;
    border-radius: 10px;
    outline: 3px solid #920000;
}